.l-footer{
    height:150px;
    width:375px;
    background-color:#9D8670;
    text-align: center;
    & .l-footer_menu{
        display:flex;
        justify-content: center;
      li{
        margin:43px 0 39px 0;
      }
    }
}