.l-header{
   text-align: center;
   background-color: #FFF7EF;
   & .l-header_btn{
      display:flex;
      justify-content: flex-end;
   }
   & .l-munu_btn{
      margin:14px 16px 0 0;
   }
   & .l-search_form{
      padding-bottom:12px;
   }
   h1{
       margin:29px 0 39px 16px;
   }
}