.mainVisual{
   background-image:url("../image/Raisetech-test_mainImg.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position:center;
   height:285px;
   width:375px;
}
